.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 31px;
    padding: 0px 9px;
    cursor: pointer;
    border: 2px solid #013860;
    border-radius: 6px;
}

.text-center{
    text-align: center;
}

.my-1{
    margin: 5px 0px;
}

.my-2{
    margin: 5px 52px;
}